#main_container
  %h1
    = succeed "mart" do
      %span{style: "color: red;"}> U
    = succeed "n" do
      %span{style: "color: blue;"} O
    = succeed "ails" do
      %span{style: "color: green;"} R
  %h3= "ただいまの注文は#{Date.today}扱いになります。"
  = form_for(Order.new) do |f|
    %table
      %tr.height50px
        %td 名前:　
        %td= f.select :user_id, options_from_collection_for_select(User.order(name: :asc), :id, :name, selected: @user_id),{}, class: "form-control input-sm width100px float-left"
      %tr.height50px
        %td
        %td
          %div= render partial: 'welcome/menu', locals: {index: 1, random_disabled: true}
          #menu_item_form
          #menu_item_button
            = render partial: 'welcome/add_menu_button', locals: {index: 1}
      %tr.height50px
        %td 汁物:　
        %td
          %div
            %span
              = check_box_tag 'soup_options[]', 0, false
              豚汁
              = check_box_tag 'soup_options[]', 1, false
              みそ汁

    = button_tag "submit", class: "btn top20px"

    %h1.top30px.text-center=link_to sanitize('<i class="fa fa-cloud"></i>') + "リコメンドエンジン" + sanitize('<i class="fa fa-cloud"></i>'), recommend_orders_path
    %h4.top50px
      %i.fa.fa-cog=link_to "注文管理", orders_path, class: 'left10px'
    %h4.top50px
      %i.fa.fa-user=link_to "ユーザー管理", users_path, class: 'left10px'
    %h4.top50px
      %i.fa.fa-apple=link_to "メニュー管理", menus_path, class: 'left10px'