= simple_form_for(@order) do |f|
  = f.error_notification

  .form-inputs
    = f.input :user_id
    = f.input :menu_id
    = f.input :amount
    = f.input :priority

  .form-actions
    = f.button :submit
