#main_container
  %h1 Listing orders

  %h2 一覧
  %table
    %tr
      %th
      %th
      %th
      %th

    - @users.each do |user|
      - user.today_orders.each do |order|
        - if order.menu
          %tr
            %td= "#{user.name}さん"
            %td= "　#{order.to_jp}　"
            %td= "　(第#{order.priority + 1}希望)"
            %td= link_to '　Destroy', order, :method => :delete, :data => { :confirm => 'Are you sure?' }
        - else
          %tr
            %td= "#{user.name}さん"
            %td *** nil ***
            %td
            %td

  %h2 今日食べない人
  %h3=@no_eat_users

  %h2 集計
  %ul
    - Order.today.where(priority: 0).order(menu_id: :asc).each do |order|
      %li
        %p= "#{order.to_jp_without_soup}"
  %table.soup
    %tr
      %td=Order.today_soup.count(0)
      %td=Order.today_soup.count(1)
    %tr
      %td 豚汁
      %td みそ汁

  %h3 03-3456-4074
