#main_container
  %h1 Listing orders

  %h2 一覧
  %table
    %tr
      %th
      %th
      %th
      %th

    - @users.each do |user|
      - user.today_orders.each do |order|
        - if order.menu
          %tr
            %td= "#{user.name}さん"
            %td= "　#{order.jp}　"
            %td= "　(第#{order.priority + 1}希望)"
            %td= link_to '　Destroy', order, :method => :delete, :data => { :confirm => 'Are you sure?' }
  %h2 今日食べない人
  %h3=@no_eat_users

  %h2 集計
  %table
    %tr
      %th
    - Order.today.where(priority: 0).order(menu_id: :asc).each do |order|
      %tr
        %td
          %p= "#{order.jp}"
    %tr
      %td= Order.today_soup

  %h3 03-3456-4074